[Desktop Entry]
Encoding=UTF-8
Name=Gnost on-line help
Name[es]=Gnost ayuda en linea
Icon=/usr/share/icons/clone.png
Comment=Gnost on-line help
Comment[es]=Gnost ayuda en linea
Exec=defaultbrowser /usr/local/gnost/gnocode/Woofshahenzup-gnost-GitHub.html
Terminal=false
Type=Application
Categories=Archiving
GenericName=Gnost-on-line-help
