[Desktop Entry]
Encoding=UTF-8
Name=Gnost 
Name[es]=Gnost 
Icon=/usr/share/icons/clone.png
Comment=Gnost
Comment[es]=Gnost
Exec=/usr/local/gnost/gnostmenu
Terminal=false
Type=Application
Categories=Archiving
GenericName=Gnost
